@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-bg: #fdfdfd;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg, white);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  margin: auto;
  padding: 2rem 1rem 2rem 1rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  border-radius: 8px;
  text-align: center;
  max-width: 80vw;
  min-width: 320px;
}

h1, h2, h3 {
  color: hsl(210, 50%, 20%);
}

h1 + h2 {
  text-decoration: underline;
}

h2 ~ h3 {
  color: color-mix(in srgb, black 60%, blue);
}

nav {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

main > section {
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-left: 5vw;
  margin-right: 5vw;
}

p.intro-text {
  color: color(display-p3 0.1 0.5 0.1);
}

.intro-text {
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: rgb(0, 102, 204);
}

a:hover {
  color: orange;
}

button:active {
  transform: scale(0.95);
}

hr {
  display: none;
}

input[type="text"] {
  width: 100%;
}

#multimedia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: start;
}

#multimedia div {
  position: relative;
}

#multimedia img {
  width: 100%;
  height: auto;
}

details {
  display: block;
}

details p {
  display: inline-block;
}

section:has(form) {
  background-color: rgb(240, 240, 245);
}

#agenda {
  & ol {
    margin: 1em;
  }
}

@media (max-width: 768px) {
  #multimedia {
    grid-template-columns: 1fr;
  }
  
  nav ul {
    flex-direction: column;
  }
}
